body {
  background-color: #; /* cinza claro */
}

/* Estilize o cabeçalho */
header.bg-white {
  background-color: #f8f9fa !important; /* outra tonalidade de cinza claro */
}

/* Estilize a barra de navegação */
.navbar.bg-body-tertiary {
  background-color: #343a40 !important; /* cinza escuro */
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #ffffff !important; /* texto branco para contraste */
}

.navbar .nav-link:hover {
  color: #dcdcdc !important; /* texto branco para contraste */
}

.navbar .dropdown-menu {
  background-color: #495057; /* cinza intermediário */
}

.navbar .dropdown-item {
  color: #ffffff !important;
}

.navbar .dropdown-item:hover {
  background-color: #343a40; /* cinza escuro */
}

/* Estilize o formulário de pesquisa */
.form-control {
  background-color: #ffffff; /* fundo branco */
  color: #000000; /* texto preto */
}

.btn-outline-success {
  color: #ffffff; /* texto branco */
  border-color: #28a745; /* borda verde */
}

.btn-outline-success:hover {
  background-color: #28a745; /* fundo verde */
  border-color: #28a745; /* borda verde */
}

/* Estilize o botão fechar no modal */
button.close-modal-btn {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button.close-modal-btn:hover {
  background-color: #218838;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #3CB371;
  }
  
  td {
    vertical-align: top;
  }
  
  a {
    display: inline-block;
    padding: 8px 20px;
    background-color: #3CB371;
    color: #ffff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  a:hover {
    background-color: #3CB371;
  }

  .search-bar {
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }
  
  .button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color:#3CB371;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
  }
  
  .button:hover {
    background-color: #3CB371;
  }
  